#map {
  height: 180px;
}

.app {
  position: relative;
}

.mapContainer {
  background-color: rgb(41, 41, 41) !important;
}

.leaflet-left {
  z-index: 12377895 !important;
}

/* Vignette Effects */
.vignette {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 16vw 3vw black inset;
  pointer-events: none;
  z-index: 1000;
}

.vignette2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: -46vw -6vw 28vw 3vw rgba(0, 0, 0, 0.582) inset;
  pointer-events: none;
  z-index: -1;
}

/* Legend Positioning */
.legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1234567890123;
  color: white;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 42px;
  right: 40px;
  background-color: transparent;
  border: none;
  z-index: 123456;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.close-button svg {
  width: 32px;
}
