/* General Body Styling */
body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  background-color: black;
}

/* Headings and Paragraph Reset */
h1, h2, h3, h4, p {
  margin: 0;
}

/* Leaflet Map Styling */
.leafletMap {
  filter: brightness(20%) grayscale(100%);
  position: relative;
  z-index: 12344566666666;
}

/* Non-active Elements */
.nonActive {
  filter: brightness(10%);
  mix-blend-mode: color-dodge;
  border: none;
}

/* Tooltip Styling */
.label-tooltip {
  border: none;
  background-color: rgba(27, 27, 27, 0.811);
  color: rgb(208, 239, 242);
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  pointer-events: none;
  box-shadow: 12px 12px 12px black;
}

/* Map Label Styling */
.label-map {
  color: #074246;
  text-shadow: none !important;
}

/* Leaflet Interactive Elements */
.leaflet-interactive {
  outline: none;
  z-index: -12345678910;
}

.leaflet-interactive:active {
  filter: brightness(150%);
}
